.formu {
    width: 20%;
    height: 18%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-family: Arial, serif;
    font-size: 201%;
}

table{
    position: absolute;
    left: 28%;
    border: solid 1px;
    border-radius: 10px;
    padding: 2px;
}
